main {
    padding: 0;
}
/* ------ Topbanner ------ */
/* banner */
.smallScreen{
    background-image: url(../picture/mbbanner-about.jpg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.bigScreen{
    display: none;
}
/* 行動版圖上文字 */
.bannerTxt {
    width: 100%;
    color: #fff;
    display: inline-block;
    margin: 50% 0;
}
.bannerTxt h2{
    color: #fff;
    text-shadow: 0 0 0.1em rgb(37, 35, 35), 0 0 0.2em rgb(32, 29, 29);
    text-align: center;
    display: block;
}
/* ------ 關於 ------ */
.about {
    display: block;
}
.about h2{
    color: #E88C6B;
}
.sidePic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidePic img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    height: 350px;
}
.story {
    display: inline-block;
    margin-bottom: 100px;
}
.content h2{
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
}
.content h3{
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}
.txt p {
    line-height: 1.8;
    color: #888;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 0.3em;
    text-align: left;
    font-size: 1.3em;
}
.txt p::first-letter{
    font-size: 180%;
}
/* concept */
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
    width: 500px;
}
.threePoints{
    background-image: url(../picture/aboutbg-1.jpg);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    display: inline-block;
    margin-bottom: 100px auto;
}
.threePoints h2{
    color: #E88C6B;
    margin: 50px auto;
}
.item h3{
    color: #43649B;
}
.item img{
    margin-bottom: 25px;
}
.item p{
    text-align: center;

    font-size: 1.5em;
    color: #888;
    line-height: 1.5;
    margin-top: 20px;
}

.reverse{
    flex-direction: row-reverse;
}

/*RWD*/
/*mobile*/
@media screen and (min-width:992px) {
    .width{
        max-width: 800px;
        margin: auto;
    }
    
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 50px auto;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    /* banner */
    .banner img{
        max-width: 100%;
    }
    .bigScreen{
        display: block;
        background-image: url(../picture/bannercut-about.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 40vh;
    }
    .smallScreen{
        display: none;
    }
}    

