/*---common---*/
/* icon */
.socialMedia{   
    width: 30%;
    margin: 1% 0;
}
.socialMedia a{
    margin: 2% 3%;
    transform: translateY(0);
}
.socialMedia a:hover{
    transform: translateY(-5px);
    transition: .5s;
}

/* SiteMap */
.pages ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.pages li img{
    width: 68px;
}
.pages a{
    font-weight: 500;
    font-size: 1.5em;
}
.pages li{
    margin: 3% 5%;
}
.pages li a:hover{
    transition: .5s;
    color: #EF8463;
}

/* copyright */
.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.copyright p{
    width: 80%;
    text-align: center;
    font-size: 1.1em;
    display: inline-block;
    color: #666;
    line-height: 1.5;
}





